<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id='menu_pharmacy_root'
                name='Al-Shifa Pharmacy'
                sequence="10"/>



    <!-- Categories -->
    <menuitem id="menu_medicine_categories"
              name="Medicine Categories"
              parent="menu_pharmacy_root"
              sequence="12"/>

    <!-- Expiry Dashboard
    <menuitem id="menu_medicine_expiry"
              name="Expiry Dashboard"
              parent="menu_pharmacy_root"
              sequence="30"/> -->
</odoo>